# Local MongoDB
DATABASE_URL = mongodb://localhost/finance-tracker

# OR MongoDB Atlas
DATABASE_URL = mongodb+srv://<username>:<password>@cluster/dbname

# JWT secrets (use strong random strings in real .env)
ACCESS_TOKEN_SECRET=youraccesstokensecret
REFRESH_TOKEN_SECRET=yourrefreshtokensecret
