



.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 830px) {
  .summary-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.summary-inner-grid {
  display: flex;
  flex-direction: row; 
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.summary-balance-grid {
  margin-left: 10px;
}
.summary-img {
  width: 50px;
  border-radius: 17px;
}

.balance-text {
  color: grey;
  font-size: 15px;
  margin-bottom: 5px;
}

.summary-amount {
  font-size: 18px;
}

.transactions-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
}

.recent-transactions-grid {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  min-width: 300px;
}

.see-all-button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.see-all-arrow {
  margin-left: 5px;
}

.transactions-info-grid {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.transactions-info-inner-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 15px;
  align-items: center;
}

.transactions-title {
  font-weight: 600;
}
.transaction-img-grid {
  background-color: white;
  padding: 10px
}
.transactions-img {
  width: 30px;
  border-radius: 15px;
}

.transactions-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.transactions-date {
  color: grey;
  font-size: 12px;
}

.transactions-amount-minus {
  display: flex;
  align-items: center;
  background-color: rgb(192, 88, 74);
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 6px;
}

.transactions-amount-plus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 6px;
}

.pie-chart-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  min-width: 300px;
}
.pie-chart-img {
  margin-top: 35px;
  width: 300px;
  background-color: transparent;
} 

.financial-overview-text {
  padding: 10px;
  font-weight: 600;
}

.financial-overview-chart-grid {
  height: 500px;
}
.pie-chart-summary{
  width: 400px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  
}


.main-page-income-chart-grid{
  height: 350px
}