.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  background: #fff;
  padding: 1.35rem;
  z-index: 1;
}

.menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-icon {
  display: none;
  max-height: 1rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.currency-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  margin-right: 1.25rem;
}

.dropdown-arrow-icon {
  height: 1.25rem;
  margin-left: 0.25rem;
  cursor: pointer;  
}

.options {
  position: absolute;
  background-color: rgb(245, 245, 245);
  display: none;
}

.option {
  font-size: 0.75rem;
  padding: 0.25rem;
}
@media (max-width: 940px) {
  .menu-icon {
    display: block;
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}