.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin: 0;
  padding: 1.45rem;
}

.menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  display: none;
  max-height: 1rem;
  margin-right: 0.625rem;
  cursor: pointer;
}



.title {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 940px) {
  .menu-icon {
    display: block;
  }
}