.sidebar {
  position: fixed;
  max-width: 220px;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  top: 63px;
  left: 0;
  height: 100%;
}

@media (max-width: 940px) {
  .sidebar {
    display: none;
  }
}



.side-bar-link {
  display: flex;
  justify-content: space-between, center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
}


.profile-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  max-width: 70px;
  border-radius: 35px;
}

.profile-name {
  font-weight: bold;
}

.sidebar-icon {
  max-width: 25px;
}

.side-bar-text {
  padding-left: 1rem; 
}

@media (max-width: 350px) {
  .sidebar {
    max-width: 180px;
  }

  .side-bar-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}
