.main-grid {
  background-image: url('../../icons/register-page5.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
}

.register-grid {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
}

.create-text {
  font-size: 70px;
  margin-bottom: 5px;
}

.catchy-text {
  color: rgb(94, 93, 93);
  margin-bottom: 60px;
}

.register-link {
  margin-top: 25px;
}

.register-text {
  font-size: 20px;
}

.register-input {
  width:  100%;
  padding: 15px 5px;
  font-size: 18px;
  margin-top: 10px;
}

.register-button-grid {
  margin-top: 25px;
}

.register-button {
  font-size: 25px;
  width: 100%;
  margin-top: 15px;
  padding: 15px 0px;
}

.username-input-validation,
.email-input-validation,
.confirm-password-input-validation {
  color: red;
}

.dialog {
  border: none;
  border-color: none;
  border-radius: 10px;
}

.dialog-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-text {
  font-size: 20px;
  padding: 10px;
}

.loading-icon-box {
  display: flex;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform:  rotate(0deg); }
  100% { transform:  rotate(360deg); }
}

.loading-icon {
  object-fit: cover;
  max-height: 35px;
}

.register-error {
  color: red;
}