.main-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.create-text {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.catchy-text {
  margin-top: 0.5rem;
  color:rgb(90, 90, 90);
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  text-align: center;
}

.register-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: clamp(1rem, 4vw, 2.5rem);
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 1.5rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  max-width: 470px;
}


.register-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top:clamp(0.7rem, 2vw, 1rem);
}
.register-input {
  padding:  0.6rem 0;
  font-size: clamp(0.7rem, 2vw, 1rem);
  margin-top: 0.3rem;
}

.register-text {
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.register-button {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  width: 100%;
  margin-top: clamp(1rem, 3vw, 1.8rem);
  padding: 1rem 5px;
  background-color: rgb(144, 69, 214);
  color: white;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  opacity: 0.9;
}

.register-button:active {
  opacity: 0.8;
}


.username-input-validation,
.email-input-validation,
.password-input-validation,
.confirm-password-input-validation {
  font-size: clamp(0.6rem, 2vw, 1rem);
  margin-top: 0.5rem;
  color: red;
}

.login-link-grid {
  display: flex;
  margin-top: 0.5rem;
}

.login-link {
  margin-left: 0.25rem;
}

.dialog {
  border: none;
  border-color: none;
  border-radius: 0.625rem;
}

.dialog-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-text {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  padding: 0.625rem;
}

.loading-icon-box {
  display: flex;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform:  rotate(0deg); }
  100% { transform:  rotate(360deg); }
}

.loading-icon {
  object-fit: cover;
  max-height: 35px;
}

.register-error {
  color: red;
}

@media (max-width: 600px) {
  .register-grid {
    width: calc(100% - 100px);
   
  }
}
