* {
  box-sizing: border-box;
  font-family: Arial;
}

.layout {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.main-expense-grid {
  grid-column: 2;
  min-width: 0;
}

@media (max-width: 940px) {
  .layout { grid-template-columns: 1fr; }
  .main-income-grid { grid-column: 1; }
}

.top-part {
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
  min-width: 300px;
}

.bottom-part {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
}




.expense-chart-grid {
  width: 100%;
  height: calc(30vw);
  min-height: 275px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.expense-overview-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expense-bar-chart-img {
  width: 100%;
  height:  300px;
}

.expense-overview-text {
  font-size: 1.25rem;
  font-weight: 600;
}



.expense-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 30px;
}

.expense-sources-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.see-all-button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.see-all-button:hover {
  opacity: 0.9;
}

.see-all-button:active {
  opacity: 0.7;
}


.see-all-arrow {
  margin-left: 0.25rem;
}

.expense-info-grid {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.expense-info-inner-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 1rem;
  align-items: center;
}

.expense-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.expense-img-grid {
  background-color: white;
  padding: 0.625rem
}

.expense-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.expense-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expense-delete-button-grid {
  margin-right: 0.25rem;
}

.delete-icon {
  height: 16px;
}
.expense-delete-button {
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease, opacity 0.3s;
  opacity: 0;
}

@media (max-width: 830px) {
  .expense-delete-button {
    opacity: 1
  }
}

.expense-delete-button:hover {
  opacity: 1
}


.expense-date,
.expense-category {
  color: grey;
  font-size: 12px;
}
.expense-amount-minus {
  display: flex;
  align-items: center;
  background-color: rgb(192, 88, 74);
  color: white;
  padding: 0.25rem 0.625rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}

.each-expense-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
}

@media (max-width: 830px) {
  .each-expense-grid {
    grid-template-columns: 1fr;
  }
}

dialog {
  border: none;
  max-width: 850px;
  max-height: 670px;
  border-radius: 1rem;
  padding: 1.25rem 
  
}

.add-expense-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.add-expense-popup-close-button {
  font-size: 1.5rem;
  border: none;
  color:grey;
  background-color: white;
  cursor: pointer;
  
}

.add-expense-popup-close-button:active {
  opacity: 0.4;
}

.add-expense-header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.emoji-picker-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.625rem;
}

.emoji-picker-inner-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625rem;
  padding: 0 2rem;
}

.emoji-picker {
  max-height: 35px;
  margin-right: 0.625rem;
  cursor: pointer;
}

.emoji-element {
  position: absolute;
  top: 12.5rem;
}

.pick-icon {
  font-size: 1.25rem;
}

.emoji-picked {
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 15%;
  margin-left: 0.625rem;
}

.emoji-category-grid {
  display: flex;
}

.input-grid {
  margin-top: 50px;
}

.emoji-element {
  max-height: 250px;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.25rem;
}

.add-expense-inputs  {
  margin-bottom: 1.5rem;
}

.right-align {
  text-align: right;
}

.add-expense-button {
  background-color: rgb(216, 167, 161);
  color: rgb(146, 33, 33);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.add-expense-button:hover {
  opacity: 0.9;
}

.add-expense-button:active {
  opacity: 0.7;
}
.add-expense-button-submit {
  background-color: rgb(143, 35, 35);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.15;
}

.add-expense-button-submit:hover {
  
  opacity: 0.8;
}

.add-expense-button-submit:active {
  opacity: 0.6;
}


.add-expense-input-element {
  margin-top: 0.625rem;
  padding: 1rem;
  width: 100%;
  background-color: rgb(235, 237, 240);
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

.expense-amount-input-alert,
.expense-date-input-alert,
.emoji-input-alert,
.expense-source-input-alert {
  color: red;
  font-size: 0.75rem;
} 

.source-text {
  font-size: 1.2rem;
}