

.main-grid {
  background-image: url('../../icons/finance-main-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* aligns to the left */
  padding-left: 180px; /* spacing from edge */
}


.welcome-text {
  font-size: 4.5rem;
}

.catchy-text {
  color: rgb(94, 93, 93);
}

.login-grid {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85); /* slightly see-through white */
  padding: 2.5rem;
  border-radius: 0.625rem;
  max-width: 600px;
  color: black;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
}

.login-text {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.login-inner {
  display: flex;
}

.login-link {
  margin-top: 1.5rem;
  width: 100%;
}

.login-input {
  width:  100%;
  padding: 1rem 0;
  font-size: 1.1rem;
  margin-top: 0.625rem;
}

.email-text {
  font-size: 1.25rem;
}

.password-text {
  font-size: 1.25rem;
}

.remember-forgot-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.remember-me-grid {
  display: flex;
}

.login-button {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 5px;

}

.register-link-grid {
  display: flex;
  
}

.register-link {
  margin-left: 0.25rem;
}
.right-grid {
 height: auto;
 flex: 1;
}


.login-register-img {
  max-height: 880px;
  width: 100%;

}

.email-input-validation,
.password-input-validation {
  color: red;
}