

.main-grid {
  background-image: url('../../icons/finance-main-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: flex-start; /* aligns to the left */
  padding-left: 180px; /* spacing from edge */
}


.welcome-text {
  font-size: 70px;

}

.catchy-text {
  color: rgb(94, 93, 93);
}

.login-grid {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85); /* slightly see-through white */
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  color: black;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.login-text {
  font-size: 35px;
  margin-bottom: 40px;
}

.login-inner {
  display: flex;
}

.login-link {
  margin-top: 25px;
  width: 100%;
}

.login-input {
  width:  100%;
  padding: 15px 0;
  font-size: 18px;
  margin-top: 10px;
}

.email-text {
  font-size: 20px;
}

.password-text {
  font-size: 20px;
}

.remember-forgot-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.remember-me-grid {
  display: flex;
}

.login-button {
  font-size: 25px;
  width: 100%;
  margin-top: 15px;
  padding: 15px 5px;

}

.register-link-grid {
  display: flex;
  
}

.register-link {
  margin-left: 5px;
}
.right-grid {
 height: auto;
 flex: 1;
}


.login-register-img {
  max-height: 880px;
  width: 100%;

}

.email-input-validation,
.password-input-validation {
  color: red;
}