* {
  box-sizing: border-box;
  font-family: Arial;
}

.layout {
  display: flex;
}


.main-income-grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem;
}

.page-title{
  display: none;
}

.top-part {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
}

.income-chart-wrap {
  overflow-x: auto;
  overflow-y: hidden;
}

.income-chart-wrap-inner {
  height: clamp(370px, 28vw, 500px);
  min-width: 30rem;
}

.income-chart-wrap > canvas {
  display: block;
  width: 100%;
  height: 100%;
}


.income-overview-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.income-overview-text {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
  font-weight: 600;
}

.bottom-part {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  margin-top: 1rem;
    display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
}



.income-sources-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

}



.see-all-button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: clamp(0.3rem, 1.2vw, 0.5rem) clamp(0.7rem, 2vw, 1rem);
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
  font-size: clamp(0.5rem, 4vw, 1rem)
}

.see-all-button:hover {
  opacity: 0.9;
}

.see-all-button:active {
  opacity: 0.7;
}



.see-all-arrow {
  margin-left: 0.25rem;;
}



.income-title {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
  font-weight: 600;
}
.income-img-grid {
  background-color: white;
  padding: 0.625rem
}
.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.income-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-icon {
  max-height: 16px;
}

.income-delete-button {
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  margin-right: 0.25rem;
}


.income-delete-button:hover {
  opacity: 1
}

.income-amount-plus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 0.4rem 0.8rem;
  font-size: clamp(0.7rem, 4vw, 0.9rem);
  border-radius: 0.4rem;
}

.each-income-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
  padding: 0;
}

.each-income {
  display: grid;
  grid-template-columns:3rem 1fr;
  margin-bottom: 1rem;
  align-items: center;
}

dialog {
  border: none;
  border-radius: 1rem;
  padding: 1.25rem ;
  overflow-x: hidden;
  height: clamp(360px, 100vw, 650px);
}

.add-income-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(0.5rem, 3vw, 2rem);
}

.add-income-popup-close-button {
  font-size: clamp(1.2rem, 7vw, 2rem);
  border: none;
  color:grey;
  background-color: white;
  cursor: pointer;
  
}

.add-income-popup-close-button:active {
  opacity: 0.4;
}

.add-income-header-title {
  font-size: clamp(0.8rem, 4.5vw, 1.3rem);
  font-weight: 600;
}

.emoji-picker-grid {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
  flex-wrap: wrap;
}

.emoji-picker-inner-grid {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.income-category {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: grey;
  font-size: clamp(0.5rem, 3.5vw, 0.75rem);
}

.income-date {
  color: grey;
  font-size: clamp(0.5rem, 3.5vw, 0.75rem);
}

.emoji-menu {
  width: clamp(200px, 45vw, 350px);
  height: clamp(250px, 35vw, 350px);
}

.emoji-picker-btn {
  all: unset;            
  cursor: pointer;       
  display: inline-block;
  margin-left: 0.5rem; 
}


.emoji-picker {
  height: clamp(1.5rem, 6vw, 2.3rem);
  margin-right: 0.625rem;
  cursor: pointer;
}

.emoji-element {
  position: absolute;
  top: 12.5rem;
}



.pick-icon {
  font-size: clamp(0.7rem, 4vw, 1.2rem);
}

.emoji-picked {
  padding: 0.25rem;
  font-size: clamp(0.6rem, 5vw, 2.5rem);
  width: clamp(2rem, 5vw, 3rem);
  height: clamp(2rem, 5vw, 3rem);
  margin-left: 0.625rem;
}




.input-grid {
  margin-top: clamp(1rem, 6vw, 3rem);
}
.add-income-inputs  {
  margin-bottom: clamp(1rem, 5vw, 2.5rem);  
}

.right-align {
  text-align: right;
}

.add-income-button {
  background-color: rgb(164, 223, 159);
  color: rgb(27, 107, 20);
  padding:  clamp(0.3rem, 1.2vw, 0.5rem) clamp(0.7rem, 2vw, 1rem);
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(0.5rem, 4vw, 1rem)
}

.add-income-button:hover {
  opacity: 0.9
}

.add-income-button:active {
  opacity: 0.7;
}
.add-income-button-submit {
  background-color: rgb(40, 119, 29);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  font-size: clamp(0.5rem, 4vw, 1rem);
  cursor: pointer;
  transition: 0.15;

}

.add-income-button-submit:hover {
  
  opacity: 0.8;
}

.add-income-button-submit:active {
  opacity: 0.6;
}


.add-income-input-element {
  margin-top: 0.625rem;
  padding: clamp(0.5rem, 3vw, 1rem);
  width: 100%;
  background-color: rgb(235, 237, 240);
  border: none;
  border-radius: 0.25rem;
  font-size: clamp(0.5rem, 4vw, 1rem)
}

.income-amount-input-alert,
.income-date-input-alert, 
.emoji-input-alert,
.income-source-input-alert,
.category-input-alert  {
  color: red;
  font-size: 0.75rem;
} 

.source-text {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
}

.main-income-grid,
.top-part,
.bottom-part,
.income-chart-grid {
  min-width: 0;
}

@media (max-width: 730px) {
  .each-income-grid {
    grid-template-columns: 1fr;
  }
}


