* {
  box-sizing: border-box;
  font-family: Arial;
}



.top-part {
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 20px;
  min-width: 340px;
  margin-top: 80px;
  margin-left: 240px;
  
}

.bottom-part {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  min-width: 340px;
  margin-left: 240px;
  border-radius: 15px;
}

@media (max-width: 940px) {
  .top-part,
  .bottom-part{
    margin-left: 0;
  }
}


.income-chart-grid {
  width: 100%;
  height: 550px;
  height: calc(30vw);
  min-height: 275px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.income-overview-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.income-bar-chart-img {
  display: block;
  width: 100%;
  height:  300px;
}

.income-overview-text {
  font-size: 20px;
  font-weight: 600;
}



.income-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
}

.income-sources-grid {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 15px;
}



.see-all-button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.see-all-button:hover {
  opacity: 0.9;
}

.see-all-button:active {
  opacity: 0.7;
}



.see-all-arrow {
  margin-left: 5px;
}

.income-info-grid {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.income-info-inner-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 15px;
  align-items: center;

}

.income-title {
  font-size: 20px;
  font-weight: 600;
}
.income-img-grid {
  background-color: white;
  padding: 10px
}
.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.income-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.income-delete-button-grid {
  margin-right: 5px;

}

.delete-icon {
  height: 16px;
}

.income-delete-button {
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

@media (max-width: 830px) {
  .income-delete-button {
    opacity: 1
  }
}

.income-delete-button:hover {
  opacity: 1
}

.income-date, 
.income-category {
  color: grey;
  font-size: 12px;
}
.income-amount-plus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 6px;
}

.each-income-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 830px) {
  .each-income-grid {
    grid-template-columns: 1fr;
  }
}


dialog {
  border: none;
  width: 850px;
  height: 670px;
  border-radius: 15px;
  padding: 20px 
  
}

.add-income-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.add-income-popup-close-button {
  font-size: 40px;
  border: none;
  color:grey;
  background-color: white;
  cursor: pointer;
  
}

.add-income-popup-close-button:active {
  opacity: 0.4;
}

.add-income-header-title {
  font-size: 22px;
  font-weight: 600;
}

.emoji-picker-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.emoji-picker-inner-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.emoji-picker {
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
}

.emoji-element {
  position: absolute;
  top: 200px;
}

.pick-icon {
  font-size: 20px;
}

.emoji-picked {
  padding: 5px;
  font-size: 25px;
  width: 50px;
  margin-left: 10px;
}

.category-grid {
  display: flex;
  
}


.input-grid {
  margin-top: 50px;
}
.add-income-inputs  {
  margin-bottom: 40px;
}

.right-align {
  text-align: right;
}

.add-income-button {
  background-color: rgb(164, 223, 159);
  color: rgb(27, 107, 20);
  padding: 9px 14px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.add-income-button:hover {
  opacity: 0.9
}

.add-income-button:active {
  opacity: 0.7;
}
.add-income-button-submit {
  background-color: rgb(40, 119, 29);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.15;
}

.add-income-button-submit:hover {
  
  opacity: 0.8;
}

.add-income-button-submit:active {
  opacity: 0.6;
}


.add-income-input-element {
  margin-top: 10px;
  padding: 15px;
  width: 770px;
  background-color: rgb(235, 237, 240);
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.income-amount-input-alert,
.income-date-input-alert, 
.emoji-input-alert,
.income-source-input-alert,
.category-input-alert  {
  color: red;
  font-size: 13px;
} 

