* {
  box-sizing: border-box;
  font-family: Arial;
}

.layout {
  display: flex;
  gap: 2rem;
}

.main-income-grid {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}



.top-part {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
}



.bottom-part {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  margin-top: 1rem;
  
}



.income-chart-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  height: clamp(400px, 28vw, 500px);
  max-width: 100%;
  width: 100%;
}

.income-chart-wrap > canvas {
  display: block;
  max-width: 100%;
  min-width: 30rem;
  height: auto;
}


.income-overview-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.income-overview-text {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
  font-weight: 600;
}

.income-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
}

.income-sources-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
}



.see-all-button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: clamp(0.3rem, 1.2vw, 0.5rem) clamp(0.7rem, 2vw, 1rem);
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
}

.see-all-button:hover {
  opacity: 0.9;
}

.see-all-button:active {
  opacity: 0.7;
}



.see-all-arrow {
  margin-left: 0.25rem;;
}

.income-info-grid {
  padding-left: clamp(0.5rem, 1.2vw,  1rem);
  padding-right: clamp(0.5rem, 1.2vw,  1rem);
  display: flex;
  flex-direction: column;
}

.income-info-inner-grid {
  display: grid;
  grid-template-columns:3rem 1fr;
  margin-bottom: 1rem;
  align-items: center;

}

.income-title {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
  font-weight: 600;
}
.income-img-grid {
  background-color: white;
  padding: 0.625rem
}
.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.income-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.income-delete-button-grid {
  margin-right: 0.25rem;;

}

.delete-icon {
  max-height: 16px;
}

.income-delete-button {
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}


.income-delete-button:hover {
  opacity: 1
}

.income-date, 
.income-category {
  color: grey;
  font-size: clamp(0.5rem, 3.5vw, 0.75rem);
}
.income-amount-plus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 0.25rem 0.625rem;
  font-size: clamp(0.7rem, 4vw, 0.9rem);
  border-radius: 0.25rem;
}

.each-income-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
}


dialog {
  border: none;
  max-width: 850px;
  max-height: 670px;
  border-radius: 1rem;
  padding: 1.25rem 
  
}

.add-income-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.add-income-popup-close-button {
  font-size: 2.5rem;
  border: none;
  color:grey;
  background-color: white;
  cursor: pointer;
  
}

.add-income-popup-close-button:active {
  opacity: 0.4;
}

.add-income-header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.emoji-picker-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.625rem;
  padding: 0 2rem;
}

.emoji-element {
  max-height: 250px;
}

.emoji-picker-inner-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625rem;
}

.emoji-picker {
  max-height: 35px;
  margin-right: 0.625rem;
  cursor: pointer;
}

.emoji-element {
  position: absolute;
  top: 12.5rem;
}

.pick-icon {
  font-size: 1.25rem;
}

.emoji-picked {
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 15%;
  margin-left: 0.625rem;
}

.category-grid {
  display: flex;
  
}


.input-grid {
  margin-top: 3.1rem;
}
.add-income-inputs  {
  margin-bottom: 2.5rem;
}

.right-align {
  text-align: right;
}

.add-income-button {
  background-color: rgb(164, 223, 159);
  color: rgb(27, 107, 20);
  padding:  clamp(0.3rem, 1.2vw, 0.5rem) clamp(0.7rem, 2vw, 1rem);
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(0.5rem, 4vw, 1rem)
}

.add-income-button:hover {
  opacity: 0.9
}

.add-income-button:active {
  opacity: 0.7;
}
.add-income-button-submit {
  background-color: rgb(40, 119, 29);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.15;
}

.add-income-button-submit:hover {
  
  opacity: 0.8;
}

.add-income-button-submit:active {
  opacity: 0.6;
}


.add-income-input-element {
  margin-top: 0.625rem;
  padding: 1rem;
  width: 100%;
  background-color: rgb(235, 237, 240);
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

.income-amount-input-alert,
.income-date-input-alert, 
.emoji-input-alert,
.income-source-input-alert,
.category-input-alert  {
  color: red;
  font-size: 0.75rem;
} 

.source-text {
  font-size: clamp(0.8rem, 4.5vw, 1.2rem);
}

.main-income-grid,
.top-part,
.bottom-part,
.income-chart-grid {
  min-width: 0;
}

@media (max-width: 650px) {
  .each-income-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .income-info-inner-grid {
    grid-template-columns: 1.8rem 1fr;
  }
}
