* {
  box-sizing: border-box;
}


html {
  font-size: 100%;
}

body {
  background-color: rgb(248, 248, 248);
  font-family: Arial;
  padding-left: 0.625rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}


a {
  text-decoration: none;
  color: inherit;    
}


.main-grid {
  display: flex;
  flex-direction: column;
}

.top-part {
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
  min-width: 340px;
  margin-left: 15rem;;
}

.see-all-title {
  display: flex;
  justify-content: center;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
  min-width: 340px;
  margin-top: 5rem;;
  margin-left: 15rem;;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.filter-text,
.income-inner-title,
.income-overview-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.filter-grid {
  display: flex;
  flex-direction: column;
}

.category-grid {
  display: flex;
  margin-bottom: 0.25rem;
}

.category-validation {
  color: red;
   margin-bottom: 1.25rem;
}

.timeline-text,
.category-text,
.income-range-text {
  text-decoration:solid;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.timeline-grid {
  margin-bottom: 1.25rem;
}

.timeline-inner-grid,
.amount-inner-grid {
  display: flex;
  justify-content: space-between;
}

.time-from,
.time-to,
.min-amount,
.max-amount {
  display: none;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.filter-submit-button-box {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.filter-submit-button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter-submit-button:hover {
  opacity: 0.8;
}

.filter-submit-button:active {
  opacity: 0.7;
}

.bottom-part {
  display: grid;
  grid-template-columns: 800px 1fr;
  column-gap: 1.25rem;
  border-radius: 1rem;
}


.income-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
  margin-left: 15rem;;
}


.income-chart-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
  min-width: 300px;
  max-height: 550px;
}

.income-overview-chart-grid {
  height: 100%;

}

.income-info-grid {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.income-info-inner-grid {
  display: grid;
  grid-template-columns: 3.1rem 1fr;
  margin-bottom: 1rem;
  align-items: center;
}

.income-img-grid {
  background-color: white;
  padding: 0.625rem
}

.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.income-date {
  color: grey;
  font-size: 12px;
}

.income-amount-minus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 0.25rem 0.625rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}


.filter-button-timeline,
.filter-button-timeline-custom {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.special {
  background-color: rgb(80, 80, 80);
}


.filter-button-amount,
.filter-button-amount-custom {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}



.special2 {
  background-color:rgb(80, 80, 80);
}

.filter-button:hover {
  opacity: 0.8;
}

.filter-button:active {
  opacity: 0.7;
}

.income-category {
  padding: 0.25rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 1.25rem;
}

.income-validation {
  color: rgb(136, 136, 136);
  display: flex;
  justify-content: center;
}