
body {
  padding-top: 5rem;
}
.main-grid-see-all {
  display: grid;
  grid-template-columns: 15rem 1fr;
}
.top-part {
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
}


.see-all-title {
  display: flex;
  justify-content: center;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 1.25rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.filter-text,
.income-inner-title,
.income-overview-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.filter-grid {
  display: flex;
  flex-direction: column;
}

.category-grid {
  display: grid;
  grid-template-columns: auto 1fr; /* label | options side by side */
  gap: 0.75rem;
  align-items: center;
}

/* On small screens, stack them */
@media (max-width: 400px) {
  .category-grid {
    grid-template-columns: 1fr; /* one column only */
  }
}

.category-validation {
  color: red;
   margin-bottom: 1.25rem;
}

.category-text {
  margin-right: 1rem;
}

.timeline-text,
.category-text,
.income-range-text {
  text-decoration:solid;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.timeline-grid {
  margin-bottom: 1.25rem;
}

.timeline-inner-grid,
.amount-inner-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.625rem;
}

.time-from,
.time-to,
.min-amount,
.max-amount {
  display: none;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  max-width: 2rem;
}

.time-from-input,
.time-to-input,
.min-amount-input,
.max-amount-input {
  margin-left: 0.25rem;
  max-width: 12rem;
}

.filter-submit-button-box {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.filter-submit-button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter-submit-button:hover {
  opacity: 0.8;
}

.filter-submit-button:active {
  opacity: 0.7;
}

.bottom-part {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  column-gap: 1.25rem;
  border-radius: 1rem;
}


.income-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
}


.income-chart-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 2rem;
  min-width: 300px;
  max-height: 550px;
}

.income-overview-chart-grid {
  height: 100%;

}

.income-info-grid {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.income-info-inner-grid {
  display: grid;
  grid-template-columns: 3.1rem 1fr;
  margin-bottom: 1rem;
  align-items: center;
}



.income-img-grid {
  background-color: white;
  padding: 0.625rem
}

.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.625rem;
}

.income-date,
.income-category-display {
  color: grey;
  font-size: 0.75rem;
}

.income-amount-minus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 0.25rem 0.625rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}


.filter-button-timeline,
.filter-button-timeline-custom {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.special {
  background-color: rgb(80, 80, 80);
}


.filter-button-amount,
.filter-button-amount-custom {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.min-amount-box,
.time-from-box {

  font-size: 0.8rem;
}

.special2 {
  background-color:rgb(80, 80, 80);
}

.filter-button:hover {
  opacity: 0.8;
}

.filter-button:active {
  opacity: 0.7;
}

.income-category {
  padding: 0.25rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.income-validation {
  color: rgb(136, 136, 136);
  display: flex;
  justify-content: center;
}
.source-text {
  font-size: 1.2rem;
}

@media (max-width: 940px) {
  .main-grid-see-all {
    grid-template-columns: 1fr;
  }
}