* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */

}

body {
  background-color: rgb(248, 248, 248);
  font-family: Arial;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
}


a {
  text-decoration: none;
  color: inherit;    
}


.main-grid {
  display: flex;
  flex-direction: column;
}

.top-part {
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 20px;
  min-width: 340px;
  margin-left: 240px;
}

.see-all-title {
  display: flex;
  justify-content: center;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 20px;
  min-width: 340px;
  margin-top: 80px;
  margin-left: 240px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
}

.filter-text,
.income-inner-title,
.income-overview-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter-grid {
  display: flex;
  flex-direction: column;
}

.category-grid {
  display: flex;
  margin-bottom: 5px;
}

.category-validation {
  font-size: 15px;
  color: red;
   margin-bottom: 20px;
}

.timeline-text,
.category-text,
.income-range-text {
  text-decoration:solid;
  font-size: 20px;
  margin-bottom: 5px;
}

.timeline-grid {
  margin-bottom: 20px;
}

.timeline-inner-grid,
.amount-inner-grid {
  display: flex;
  justify-content: space-between;
}

.time-from,
.time-to {
  display: none;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-submit-button-box {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.filter-submit-button {
  font-size: 18px;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.filter-submit-button:hover {
  opacity: 0.8;
}

.filter-submit-button:active {
  opacity: 0.7;
}

.bottom-part {
  display: grid;
  grid-template-columns: 800px 1fr;
  column-gap: 20px;
  border-radius: 15px;
}


.income-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 240px;
}


.income-chart-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  min-width: 300px;
  max-height: 550px;
}

.income-overview-chart-grid {
  height: 100%;

}

.income-info-grid {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.income-info-inner-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 15px;
  align-items: center;
}

.income-img-grid {
  background-color: white;
  padding: 10px
}

.income-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.income-date {
  color: grey;
  font-size: 12px;
}

.income-amount-minus {
  display: flex;
  align-items: center;
  background-color: rgb(75, 173, 83);
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 6px;
}

.filter-button-timeline {
  font-size: 14px;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.special {
  background-color: rgb(80, 80, 80);
}


.filter-button-amount {
  font-size: 14px;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}



.special2 {
  background-color:rgb(80, 80, 80);
}

.filter-button:hover {
  opacity: 0.8;
}

.filter-button:active {
  opacity: 0.7;
}

.income-category {
  font-size: 14px;
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}

.income-validation {
  color: rgb(136, 136, 136);
  display: flex;
  justify-content: center;
}