.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin: 0;
  padding: 20px;
}

.menu-icon {
  display: none;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 940px) {
  .menu-icon {
    display: block;
  }
}

.title {
  font-weight: 600;
  width: 150px;
}